.badge-primary,
.btn-primary,
.bg-primary,
.app-content .wizard>.steps>ul>li.done:last-child .step,
.cart {
    background-color: #0B1A89 !important;
}

.text-green {
    color: #0B1A89 !important;
}
.bg-green {
    background-color: #FFFFFF;
}
.bg-mobNav{
    background-color: #FFFFFF;
}
.bg-foot{
    background-color: #f0f0f0;
}
.bg-body{
    background-color: #f0f0f0;
}
.bg-red,
.btn-red {
    background: #DB1F26;
}

.bootstrap-touchspin-down {
    border: 2px solid #0B1A89 !important;
    color: #000000 !important;
    background-color: #FDECEC !important;
}

.bootstrap-touchspin-up {
    border: 2px solid #0B1A89 !important;
    color: #000000 !important;
    background-color: #E1F1EF !important;
}

.quantity-counter {
    background-color: #F1F1F1 !important;
}

.vs-radio-primary,
.vs-checkbox-primary {
    color: #0B1A89 !important;
}

.vs-radio-primary input:checked~.vs-radio .vs-radio--circle,
.vs-checkbox-primary input:checked~.vs-checkbox .vs-checkbox--check {
    background-color: #0B1A89 !important;
}

.vs-checkbox-primary input:checked~.vs-checkbox,
.noUi-handle,
.border-primary {
    border-color: #0B1A89 !important;
}

.noUi-connect,
.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle .noUi-tooltip {
    background-color: #0B1A89 !important;
}

.app-content .wizard>.steps>ul>li.current>a {
    color: #0B1A89 !important;
}

.app-content .wizard.wizard-circle>.steps>ul>li:before,
.app-content .wizard.wizard-circle>.steps>ul>li:after {
    background-color: #0B1A89 !important;
}

.app-content .wizard>.steps>ul>li.done .step {
    border-color: #0B1A89 !important;
}

.app-content .wizard>.steps>ul>li.current .step {
    background-color: #0B1A89 !important;
    border-color: #0B1A89 !important;
}