.navbar li{
    font-size: 15px;
    margin: 0 10px 0 10px;
    font-weight: bold;
}
#colorbtn{
    background-color:#4d2725;
}
 #colordiv{
     background-color: #e0d6d5;
 }
 #offer{
     color:#FFA500;
 }

 #pro{
    max-height: 350px;
 }

 #banner-text {
   font-family: sans-serif;
   font-weight: bold; 
   color:#4d2725; 
  }
#colorbutton{
    color: #4d2725;
}
 
#border{
    border-radius:20px;
}
.buttonradius{
    border-radius:15px;
    margin-right:5px;
    background-color:#4d2725;
}
#navbrand{
    font-family:sans-serif;
}
.scrolling-wrapper{
       overflow-x: scroll;
    overflow-x:visible;
    overflow:hidden;
   
}

#banimg{
    height:400px;
 }
 #product{
    width:208px !important;
    height: 243px;
 }
 .border-primary {
    border-color: #6C4E4F!important;
}
.btn-primary {
    border-color: #6C4E4F!important;
    background-color: #6C4E4F!important;
    color: #FFFFFF;
}



