.navbar li {
    font-size: 15px;
    margin: 0 10px 0 10px;
    font-weight: bold;
}
#colorbtn{
    background-color:#4d2725;
}
 #colordiv{
     background-color: #e0d6d5;
 }
 #text-light{
    color: #e0d6d5;
 }
 #text-primary{
    color:#4d2725; 
 }
 /* #slideleft{
    margin-left: 10px !important;
 } */
 #offer{
     color:#FFA500;
 }
 
 .width_94{
    width: 94% !important;
    }
 .rightborder{
    border-right:4px solid #e0d6d5 !important;
 }
 .borderborder{
    border-bottom:4px solid #e0d6d5 !important;
 }
 .bordershow{
    border: 1px solid #4d2725 !important;
 }
 .cardborder{
    border-radius: 0.5rem !important;
    font-size: 18px !important;
 }
 .productText{
    text-align: left !important;
    font-size: 18px !important;
 }
 .greydiv{
    background-color: #f4f4f4 !important;
 }
 #pro{
    max-height: 350px;
 }
 .fit-card{
    min-height: 500px !important;
 }
 .a-tag-text{
    text-decoration:none !important;
    color: #fff !important;
 }

#colorbtn {
    background-color: #4d2725;
}

#colordiv {
    background-color: #e0d6d5;
}

#text-light {
    color: #e0d6d5;
}

#text-primary {
    color: #4d2725;
}

/* #slideleft{
    margin-left: 10px !important;
 } */
#offer {
    color: #FFA500;
}

.width_94 {
    width: 94%;
}

.rightborder {
    border-right: 4px solid #e0d6d5 !important;
}

.borderborder {
    border-bottom: 4px solid #e0d6d5 !important;
}

.bordershow {
    border: 1px solid #4d2725 !important;
}

.cardborder {
    border-radius: 0.5rem !important;
    font-size: 18px !important;
}

.productText {
    text-align: left !important;
    font-size: 18px !important;
}

.greydiv {
    background-color: #f4f4f4 !important;
}

#pro {
    max-height: 350px;
}

.fit-card {
    min-height: 500px !important;
}

.a-tag-text {
    text-decoration: none !important;
    color: #fff !important;
}

#banner-text {
    font-family: sans-serif;
    font-weight: bold;
    color: #4d2725;
}

#colorbutton {
    color: #4d2725;
}

#border {
    border-radius: 20px;
}

.buttonradius {
    border-radius: 15px;
    margin-right: 5px;
    background-color: #4d2725;
}

#navbrand {
    font-family: sans-serif;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-x: visible;
    overflow: hidden;

}

#banimg {
    height: 400px;
}

#product {
    width: 208px;
    height: 243px;
}

.allx {
    margin-left: 20px !important;
}

.allx1 {
    margin-left: 37px !important;
}

.border-primary {
    border-color: #6C4E4F !important;
}

.btn-primary {
    border-color: #6C4E4F !important;
    background-color: #6C4E4F !important;
    color: #FFFFFF;
}

.btn-warning {
    border-color: #e0d6d5 !important;
    background-color: #e0d6d5 !important;
}

.bg-warning {
    border-color: #e0d6d5 !important;
    background-color: #e0d6d5 !important;
}
.bg-warn{
    background-color: #ffebdc !important;
}
.pointer{
    cursor: pointer !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #F8F8F8;
    color: #6C4E4F;
}

.btn-outline-warning {
    color: #6C4E4F !important;
    border-color: #6C4E4F !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #6C4E4F !important;
}
/* mobile  */
@media (max-width: 767.98px) { 
    .lg_hide{
        display:none !important;
    }

    .outer_margin{
        margin: 0.5rem !important;
    }
    .margin_mob_2{
        margin: 2rem !important;
    }

    .margin_mob_y_3{
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }
    .pad_mob_1{
        padding: 1rem!important;
    }
    .margin_mob_x_1{
        margin-right: 0.5rem!important;
        margin-left: 0.5rem!important;
    }
    .margin_mob_x_15{
        margin-right: 1.5rem!important;
        margin-left: 1.5rem!important;
    }
    .pad_mob_15{
        padding: 1.5rem!important;
    }
    .pad_mob_05{
        padding: 0.5rem!important;
    }
    .width_mob_90{
        width: 90% !important;
    }
    .width_mob_95{
        width: 95% !important;
    }
    .width_mob_85{
        width: 85% !important;
    }
    .summary_margin{
        margin-right: 0.5rem!important;
        margin-left: 0.5rem!important;
    }
    .shadow_mob_zero{
        box-shadow: 0 4px 25px 0 rgb(0 0 0 / 0%) !important;
    }
    .font_size_mob_1{
        font-size: 1rem !important;
    }
    .text_center_mob{
        text-align: center !important;
    }
    .header_login{
        background-color: #6C4E4F;
        border: 1px solid #6C4E4F;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    .inner_scroll_x{
        overflow-x: scroll;
    }
    .mw-mob-85{
        max-width: 85% !important;
    }
    
 }
/* desktop */
@media (min-width: 767.98px) { 
    .sm_hide{
        display:none !important;  
    }

    .outer_margin{
        margin: 3rem !important;
    }
    .margin_desk_3{
        margin: 3rem!important;
    }
    .pad_desk_3{
        padding: 3rem!important;
    }
    .margin_desk_x_1{
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }
    .margin_desk_x_05{
        margin-left: 0.5rem!important;
        margin-right: 0.5rem!important;
    }
    .margin_desk_x_3{
        margin-right: 3rem!important;
        margin-left: 3rem!important;
    }
    .margin_desk_05{
        margin: 0.5rem!important;
    }
    .pad_desk_05{
        padding: 0.5rem!important;
    }
    .summary_margin{
        margin-right: 3rem!important;
        margin-left:  3rem!important;
    }
    .float_left_desk{
        float: left !important;
    }
    .header_login{
        background-color: #6C4E4F !important;
        border: 1px solid #4d2725 !important;
    }
    .mw-desk-100{
        max-width: 100% !important;
    }
} 

/* mobile  */
@media (max-width: 767.98px) {
    .lg_hide {
        display: none !important;
    }

}

/* desktop */
@media (min-width: 767.98px) {
    .sm_hide {
        display: none !important;
    }
    .min_height_30_rem{
        min-height: 30rem !important;
    }
}

@media (min-width: 825px) {
    .desk_show {
        display: block !important;
    }
    .faq_form{
        width: 35% !important;
        margin-left: 3% !important;
    }
    .desk_hide{
        display: none !important;
    }
}

@media (min-width: 481px) and (max-width: 825px) {
    .tabl_show {
        display: block !important;
    }

    .tabl_hide {
        display: none !important;
    }
    .min_height_50_rem{
        min-height: 50rem !important;
    }
    .btn_width_90{
        width: 90% !important;
    }
    .min_height_50_em{
        min-height: 50em !important;
    }
    .inner_scroll_x{
        overflow-x: scroll;
    }
    .view_500{
        font-weight: 500 !important;
    }
    .mw-mob-85{
        max-width: 85% !important;
    }
    
}


@media (max-width: 480px) {
    .mob_show {
        display: block !important;
    }

}

.z_high {
    z-index: 2 !important;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    content: '\e844' !important;
    font-family: 'feather';
    color: #626262;
}

.footer_title {
    /* font-family: Montserrat; */
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    text-decoration: none;
}

.footer_text {
    /* font-family: Montserrat; */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    text-decoration: none;

}

.purpose_title {
    font-size: 34px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;

}

.purpose_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.value_title {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.value_head {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.value_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.testimoni_text {
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.testimonal_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
}

.testimonal_address {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.jumbotron {
    padding: 1rem 0rem !important;
}

.min_height_500 {
    min-height: 500px !important;
}

.min_height_350 {
    min-height: 350px !important;
}

.essence_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;

    letter-spacing: 0em;
    text-align: left;
}

.essence_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.life_rus_head {
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.btn-link {
    font-weight: 400;
    color: #6C4E4F !important;
    text-decoration: none;
}

.btn-outline-primary {
    color: #6C4E4F !important;
    border-color: #6C4E4F !important;
}

.badge-brown {
    background-color: #6C4E4F !important;
    border-radius: 0.25rem;
}

.dropdown-toggle::after {
    display: none !important;
    margin-left: 0.255em;
    vertical-align: 0.255em;
}

.border-button {
    border: 1px solid #4d2725 !important;
    border-radius: 0.25rem;
    background-color: #fff;
}

.border-radius {
    border-radius: 0.5rem !important;
}
.border-top-radius{
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}
.card >hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.order_head {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

}

.order_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.order_title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

.status_head {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

}

.brown_back {
    width: 160px;
    height: 36px;
    left: 841px;
    top: 0px;

    background: #6C4E4F;
    border-radius: 5px;
}

.track_border {
    width: 160px;
    height: 36px;
    left: 841px;
    top: 55px;

    border: 1px solid #6C4E4F;
    border-radius: 5px;
}

.order_detail_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.92px;
}

.order_detail_head {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.order_detail_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.pay_detail_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.pay_amount_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.bgWarn {
    background-color: #f3a46c;
}

.btn-warning:hover {
    border-color: #FFf !important;
    color: #FFFFFF !important;
    box-shadow: 0 8px 25px -8px #fff !important;
}

.minCardHeight {
    min-height: 34rem !important;
}

.badge.badge-up {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

.txtx {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

html body[data-col='1-column'] .content,
html body[data-col='1-column'] .footer {
    width: 101% !important;
}

/* desktop */
@media (min-width: 767.98px) {

    .titlesub {
        padding: 3rem !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        margin-left: 4rem !important;
        margin-right: 3rem !important;
    }
    
}
.margin-bot-zero{
    margin-bottom: 0rem !important;
}

.unique_title{
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
}
.consume_title{
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
}
.compost_title{
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
}
.unique_text{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.shadow_zero{
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 0%) !important;
}

.greendiv{
    background-color: #295E4D !important;
}

.top-25{
    top: 25% !important;
}

.top-45{
    top: 45% !important;
}

.start-10{
    left: 10% !important;
}

.orgin_title{
    font-size: 40px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
}

.orgin_text{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.transaction_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.text-warn{
    color: #FF9F43 !important;
}
.track-line {
    height: 3px !important;
    background-color:#4d2725 !important;
}
.untrack-line {
    height: 3px !important;
    background-color: #ccc;
}
.failtrack-line {
    height: 3px !important;
    background-color: #f00;
}
.track-vertical-line {
    height: 100px;
    width:0px;
    border: 3px solid #4d2725 !important;
    color: #000;
}
.untrack-vertical-line{
    height: 100px;
    width:0px;
    border: 3px solid #ccc !important;
    color: #000;
}
.failtrack-vertical-line {
    height: 100px;
    width:0px;
    border: 3px solid #f00 !important;
    color: #000;
}
.white-track-vertical-line {
    height: 100px;
    width: 0px;
    border: 3px solid #fff !important;
    color: #000;
}
.discount_text{
    color: #432F2F;
    font-size: 18px;
    line-height: 22px; 
    font-weight: 400;
}
.productText {
    color: #432F2F;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.checkout_product_name{
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    color: #000;
}
.badge-primary,
    /* .btn-primary, */
    .bg-primary,
    .app-content .wizard>.steps>ul>li.done:last-child .step,
    /* .cart, */
    .vs-radio-primary input:checked~.vs-radio .vs-radio--circle,
    .vs-checkbox-primary input:checked~.vs-checkbox .vs-checkbox--check,
    .noUi-connect,
    .ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle .noUi-tooltip,
    .app-content .wizard.wizard-circle>.steps>ul>li:before,
    .app-content .wizard.wizard-circle>.steps>ul>li:after,
    .app-content .wizard>.steps>ul>li.current .step {
        background-color: #4d2725 !important;
    }
    .vs-checkbox-primary input:checked~.vs-checkbox,
    .noUi-handle,
    .border-primary,
    .app-content .wizard>.steps>ul>li.current .step,
    .app-content .wizard>.steps>ul>li.done .step {
        border-color: #4d2725!important;
    }
.min_h_100{
    min-height: 100px !important;
}    
html body .content .content-wrapper {
    padding: calc(0rem - 0.4rem) 0rem 0 !important;
}

