

@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.share-footer{
  width: 13%;
  height: auto;
  padding: 15px;
}

.card {
  margin: 2px;
  display: inline-block;
  border: 2px solid #d2d2d2;
  /* border: groove; */
}

.mypanel-center {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#content-desktop {display: inline-block;}
#hero {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#hero {display: block;}

}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scimg{
  width: 70%;
  height:70%;
  margin-bottom: 0px;
}
.btn{
  padding:5px 10px!important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 600;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  letter-spacing: 1px;
}
.checked {
  color: orange;
}
li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.btn {
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  font-size: 25px;
}


#hero {
  width: 100%;
  /* height: calc(100vh - 40px); */
  height: 100vh;
  /* background: url(../img/hero-bg.png) center bottom no-repeat; */
  background-size: 100%;
  position: relative;
  /* margin-top: 40px; */
}


#boxscroll {
	padding: 40px;
	height: 100vh;
	width: 100%;
	border: 2px solid #00F;
	overflow: auto;
  margin-bottom:30px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.div-wrapper img {
  position: absolute;
  left: 38%;
  bottom: 71px;
}




#content-desktop .desktop-container {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  display:-webkit-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}





.scrollbar1
{
	
	
	height: 100vh;
	width: 100%;
	
	overflow-y: scroll;

}
.scrollbar2
{	
	height: 200px;
	width: 100%;	
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 350px;
}
.p-3 {
 
  display: inline;
}
#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}
/* #style-3::-webkit-scrollbar-track, -o-scrollbar-track, -moz-scrollbar-track 
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar, -o-scrollbar, -moz-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
} 

#style-3::-webkit-scrollbar-thumb, -o-scrollbar-thumb, -moz-scrollbar-thumb
{
	background-color: #8c8080;
} */


.image {
  display: block;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;

}

.selected {
  border: 2px solid orange;
}

.overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 24px;
  position: absolute;
  right: 3%;
  text-align: center;
}
.icon1 {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 3%;
  text-align: center;
}



/* .modal-backdrop.show {
    opacity: 0!important;
} */
.carousel-indicators li {
  background-color: #c0b4b4;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.fa-user:hover {
  color: #eee;
}

.btn-danger:hover {

  border-color: #5e77a8 !important;
}


.hearts {
  font-size: 15px;
  margin-top: -31px;
  color: red
}

.hearthidden {
  font-size: 15px;
  margin-top: 16px;
  visibility: hidden;
}

.shares {
  font-size: 15px;
  margin-top: -28px;
  color: #2481ce
}

.camicon {
  top: 50%;
  right: 0;
}

#camError {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.box1 {
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.box2 {

  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 12px;
}

.modal-dialog {
max-width: 525px;
  margin: 3px !important;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-lg {
  margin-top: 12px;
}

.btn-whatsapp {
  color: #fff;
  background-color: #4CAF50;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter {
  color: #fff;
  background-color: rgb(29, 161, 242);
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-pin {
  color: #fff;
  background-color: red;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-social:hover {
  color: #eee;
}

.bstyle {
  color: white !important;
  font-size: 16px;
  padding: 12px 47px !important;
}

.card-body{
  padding: 0PX!important;
}

/* Video Section
--------------------------------*/
/* #video {
  height: 400px;
  overflow: hidden;
} */

#video {
  width: 100%;
}

#MirrAR_preview {
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;
  }



@media (min-width: 992px) {
  .scimg{
    width: 90px;
    height:90px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1025px) {
  .scimg{
    width: 145px;
    height:145px;
    margin-bottom: 0px;
  }
  
}

@media (maX-width: 1199px) {

  .carousel-indicators {
  
    padding-left: 166px;
  }
}





         
                    