/**
* Template Name: eStartup - v2.0.0
* Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #fff;
  color: #333;
}
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
.neck{
  /* width: 18%; */
  width: 64px;
  margin-top: 15px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.product-details{
  background-color: #f3faff;
  overflow: hidden;
}
.product-details > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.card {
  display: inline-block;
  width: 120px;
  margin: 5px;
  padding: 5px;
}

.card-block {
  border: 2px solid #f3faff;
}

.selected {
  border: 2px solid orange;
}

#canvas{
    width: 100%;
    height: 100vh;
}

.scimg{
  width: 80px;
  height: 80px;
  margin-bottom: 0px;
}
.btn{
  padding:5px 10px!important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 600;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

.checked {
  color: orange;
}
li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.btn {
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  font-size: 25px;
}

/* Back to top button */


@media (max-width: 768px) {

}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 3;
  transition: all 0.5s ease;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.div-wrapper img {
  position: absolute;
  left: 38%;
  bottom: 71px;
}

@media (min-width: 1025px) {
  #MirrAR_preview,#hero {
    
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  
  left: 0;
  right: 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: #71c55d;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero img {
  /* max-width: 95%; */
  /* margin-bottom: 30px; */
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #71c55d;
  background: #fff;
  color: #71c55d;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #71c55d;
  color: #fff;
}

#hero .btns a {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }
}

#hero .btns a:hover {
  color: #71c55d;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* Get Started Section
--------------------------------*/
#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
}



/* Video Section
--------------------------------*/
/* #video {
  background: url(../img/video-bg.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow: hidden;
}

#video .overlay {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
} */

/* #video .overlay .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#71c55d 50%, rgba(113, 197, 93, 0.15) 52%);
  border-radius: 50%;
  display: block;
  margin: 153px auto 0;
  position: relative;
  overflow: hidden;
}

#video .overlay .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#video .overlay .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1; 
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#video .overlay .play-btn:hover::after {
  border-left: 15px solid #71c55d;
  transform: scale(20);
}

#video .overlay .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate1 {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate1 {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate2 {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
} */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #2a2c30;
  padding-top: 50px;
}

.footer .footer-logo .navbar-brand {
  color: #fff;
  display: inline-block;
  float: none;
  font-family: "Philosopher", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}

.footer .footer-logo p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}

.footer .list-menu ul li a {
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0;
}

.footer .copyrights {
  background: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p, .footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}

.footer .copyrights p a, .footer .copyrights .credits a {
  letter-spacing: 0;
  color: #71c55d;
}


    .image {
      display: block;
      width: 100%;
      height: 100vh;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .3s ease;
      
    }
     
    
    .overlay {
      opacity: 1;
    }
    
    .icon {
      color: white;
      font-size: 30px;
      position: absolute;
      right:3%;
      text-align: center;
    }
    
    
    .carousel-indicators li{
      background-color:#c0b4b4
    }
    
    .fa-user:hover {
      color: #eee;
    }
    
    .btn-danger:hover {
    
        border-color: #5e77a8!important;
    }

    .hearts{
      font-size: 15px;
      margin-top: -31px;
      color: red
    }
    .hearthidden{
      font-size: 15px;
      margin-top: 16px;
      visibility: hidden;
    }
    .shares{
      font-size: 15px;
      margin-top: -28px;
      color: #2481ce
    }
    .camicon
    {
      /* margin-top: -293px;     */
      padding-bottom: 38px;
      margin-left: 75%;
    }
    #camError {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    
.mypanel-center {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
    .box1{
      background-color: white;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .box2{
    
      border-radius: 20px;
      margin-left: 3px;
      margin-right: 5px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
      width:12px;
    }
    .container1{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    
        width: 98%;
        background-color: white;
        padding-top: 12px;
        padding-bottom: 11px;
       padding-left: 11px;
       padding-right: 11px;
        margin-right: 3px;
        margin-left: 3px;
    }
    .modal-dialog {
        
        margin: 0px!important;
    }
    
    .btn-facebook {
        color: #fff;
        background-color: #3b5998;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-lg{
    margin-top:12px;
    }
    .btn-whatsapp {
        color: #fff;
        background-color: #4CAF50;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-twitter {
        color: #fff;
        background-color: rgb(29, 161, 242);
        border-color: rgba(0,0,0,0.2);
    }
    .btn-pin {
        color: #fff;
        background-color:red;
        border-color: rgba(0,0,0,0.2);
    }
    
    .btn-social {
        position: relative;
        padding-left: 44px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .btn-social:hover {
        color: #eee;
    }
    .bstyle{
      color:white!important;
      font-size:13px;
      padding:12px 47px!important;
    }
    .landscape-mode {
      display: none;
    }

    .landscape-mode img {
      width:25%;
      margin-top:5%;
      margin-bottom:5%;
    }
    
    @media screen and (min-aspect-ratio: 13/9) {
      #hero{
        display: none;
      }
			.landscape-mode {
				display: block;
			}

		}

		@media screen and (max-aspect-ratio: 13/9) {
      #hero{
        display: block;
      }
			.landscape-mode {
				display: none;
			}

		}