@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

:root {
    --primary-color: #ffffff;
}

html,
body {
    min-height: 100%;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

.mirrar-logo {
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
}

@media only screen and (max-width: 480px) {
    html,
    body {
        background-image: url("/XR/themes/sharescreen/img/bg_mobile.png") !important;
    }

    .tryon-image {
        width: 100%;
        max-height: 400px;
        object-fit: contain;
        background-color: black;
        border-top-left-radius: calc(0.5rem - 1px);
        border-top-right-radius: calc(0.5rem - 1px);
    }
    .product-image-container {
        display: flex;
        justify-content: center;
    }

    .view-details-button {
        padding: 9px 11px !important;
    }
    .tryon-button {
        padding: 10px 11px !important;
    }
    .tryon-button-container {
        display: flex;
        justify-content: space-evenly;
    }

    .store-container {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .share-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .card {
        width: 90%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .tryon-button {
        background-color: #d71952;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        padding: 9px 15px;
        text-decoration: none;
    }
    .view-details-button {
        border: 2px solid #d71952;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #d71952;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: 600;
    }
}

@media only screen and (min-width: 480px) {
    .tryon-button-container {
        display: flex;
        justify-content: start;
    }

    @media only screen and (min-width: 480px) and (max-width: 768px) {
        .card {
            width: 90%;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .tryon-image {
            width: 100%;
            max-height: 500px;
            object-fit: contain;
            background-color: black;
            border-top-left-radius: calc(0.5rem - 1px);
            border-top-right-radius: calc(0.5rem - 1px);
        }

        .view-details-button {
            margin-left: 15px !important;
        }

        .store-container {
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: flex;
            flex-direction: column;
        }

        .share-icon {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .tryon-button {
            width: 125px;
            background-color: #d71952;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            padding: 9px 15px;
            text-decoration: none;
        }
        .view-details-button {
            width: 125px;
            border: 2px solid #d71952;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            display: inline-block;
            cursor: pointer;
            color: #d71952;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: 600;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        html,
        body {
            background-image: url("/XR/themes/sharescreen/img/bg_tab.png") !important;
        }
        .card {
            width: 95%;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .tryon-image {
            width: 100%;
            max-height: 500px;
            object-fit: contain;
            background-color: black;
            border-top-left-radius: calc(0.5rem - 1px);
            border-top-right-radius: calc(0.5rem - 1px);
        }

        .view-details-button {
            margin-left: 15px !important;
        }

        .store-container {
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: flex;
            flex-direction: column;
        }

        .share-icon {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .tryon-button {
            width: 125px;
            background-color: #d71952;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            padding: 9px 15px;
            text-decoration: none;
        }
        .view-details-button {
            width: 125px;
            border: 2px solid #d71952;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            display: inline-block;
            cursor: pointer;
            color: #d71952;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: 600;
        }
    }

    @media only screen and (min-width: 1024px) {
        html,
        body {
            background-image: url("/XR/themes/sharescreen/img/bg_desktop.png") !important;
        }
        .card {
            width: 40%;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .tryon-image {
            width: 100%;
            max-height: 400px;
            object-fit: contain;
            background-color: black;
            border-top-left-radius: calc(0.5rem - 1px);
            border-top-right-radius: calc(0.5rem - 1px);
        }

        .view-details-button {
            margin-left: 14px !important;
        }

        .store-container {
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: flex;
            flex-direction: column;
        }

        .share-icon {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .tryon-button {
            width: 120px;
            background-color: #d71952;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            padding: 9px 15px;
            text-decoration: none;
        }
        .view-details-button {
            width: 120px;
            border: 2px solid #d71952;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            display: inline-block;
            cursor: pointer;
            color: #d71952;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

.product-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    max-height: 100px;
    object-fit: scale-down;
}

.product-details {
    font-family: "Inter", sans-serif;
}

.top-text-content {
    font-family: "Inter", sans-serif;
    padding: 15px;
    font-size: 16px;
    line-height: 16pt;
    font-weight: 500;
}

.product-title {
    color: #5f5f5f;
    font-weight: 600;
    font-size: 16px;
}

.product-shop-name {
    color: #5f5f5f;
    font-weight: 500;
    font-size: 16px;
}

.tryon-button:hover {
    background-color: #e02059;
    color: #ffffff;
}

.tryon-button:active {
    position: relative;
    top: 1px;
}

.view-details-button:hover {
    color: #d71952;
}

.view-details-button:active {
    position: relative;
    top: 1px;
}

.logo-image {
    height: 30px;
    right: 0;
    left: 0;
    margin: auto;
}

.visit-store-button {
    background-color: #d71952;
    border: 2px solid #d71952;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
}

.visit-store-button:hover {
    background-color: #e02059;
    color: #ffffff;
}

.visit-store-button:active {
    position: relative;
    top: 1px;
}
