@charset "UTF-8";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background-color: #fff;
    color: #333;
    font-family: 'Capriola';
}

#main {
    margin: 0 auto;
}

#main .bottom-left {
    margin: 0 auto;

}

.sharebtn {
    background: rgb(242, 113, 114,1);
    width: 50px;
    padding: 10px;
    border-radius: 8px;
}

.sharelink {
    padding-bottom: 26px;
    background: rgb(255, 255, 255, 0.9);
    flex-direction: column;

}

.closelink {
    width: 20px;
    margin: 10px;
    float: right
}

.sharefile {
    font-size: 16px !important;
    padding: 12px 47px !important;
    color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    color: #000;
    font-weight: 600;
}



a {
    letter-spacing: 2px;
    text-decoration: none;
}


p {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;

    line-height: 2;
    margin-bottom: 20px;
}

span {
    letter-spacing: 1px;
    display: inline-block;
}

.barcode {

    white-space: pre;
    /* or pre-wrap if you want wrapping to still work.*/
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .3s ease;

}

.bottom-left {
    position: absolute;
    bottom: 0px;
    background: rgb(0, 0, 0, 0.5);
    padding: 10px;

}

.top-left {
    position: absolute;
    top: 40px;
    padding: 5px;
    border-radius: 7px;

}


.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}



.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-lg {
    margin-top: 12px;
}

.btn-whatsapp {
    color: #fff;
    background-color: #4CAF50;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter {
    color: #fff;
    background-color: rgb(29, 161, 242);
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pin {
    color: #fff;
    background-color: red;
    border-color: rgba(0, 0, 0, 0.2);
}


.btn {

    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;

    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.fa {
    font-size: 13px;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    position: relative;

}



#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}




#more {
    display: none;
}




#hero h2 {
    color: #777;
    margin-bottom: 30px;
    font-size: 20px;

    font-weight: 300;
}

#hero img {
    max-width: 100%;

}


@media (min-width: 1025px) {
    #hero {
        background-attachment: fixed;
    }

    .bottom-left {
        width: 600px;
    }

    .top-left {
        padding-left: 10px;
        padding-right: 10px;

    }

    .overlay {

        height: 100%;
        width: 594px;
        margin: auto;


    }
}


@media (min-width: 768px) {

    .overlay {

        height: 100%;
        width: 594px;
        margin: auto;


    }

    #main .bottom-left {
        /* width: 600px; */
        width: 400px;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    #main {
        width: 100%;
    }
} 
  
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
    #main {
        /* width: 100%; */
    }
} 
  
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
    #main {
        /* width: 100%; */
    }
} 
  
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
    #main {
        width: 400px;
    }
} 
  
/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
    #main {
        width: 400px;
    }
} 