.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #633194 !important;
	border-color: #633194 !important;
	/* border-radius: 15px; */
}

.btn-icon-only,
.btn-icon-only .btn-primary.dropdown-toggle,
.btn-icon-only:hover,
.btn-icon-only:active {
	line-height: 0em;
	padding: 0;
	background: transparent;
	border-color: transparent;
}

.pink {
	color: #ff0087;
}

.add-to-cart-btn {
	background-color: #ff0087;
	color: #ffffff;
}

.add-to-cart-btn:hover {
	background-color: #ff00af;
}

.remove-from-cart-btn {
	background-color: #000000;
	color: #ffffff;
}

.remove-from-cart-btn:hover {
	background-color: #000000;
}

/* Header of the product list card */
.header-area {
	width: 100%;
	max-width: fit-content;
	height: 150px;
	right: 10px;
	top: 10px;
	position: absolute;
	z-index: 1;
}

/* footer of the product list card */
.footer-area {
	bottom: 0px;
	left: 10px;
	right: 10px;
	position: absolute;
	/* z-index: -2; */
}

.cursor-pointer {
	cursor: pointer;
}

/* Product List  Modal Card*/
.product-modal {
	height: calc(100% - 50px);
	width: 100%;
	max-width: 35%;
	right: 20px;
	top: 20px;
	bottom: 20px;
	margin: auto;
	position: absolute;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	z-index: 1;
}

/* Product Details Modal Card */
.product-modal-detail-card {
	width: 64%;
	height: calc(100% - 50px);
	/* right: calc(36% - 20px); */
	top: 20px;
	bottom: 20px;
	margin: auto;
	position: absolute;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

/* Product Details Modal Header */
.product-modal-detail-header {
	padding: 0;
	border-top-left-radius: 25px !important;
}

.camera {
	height: 100%;
	width: calc(100% - 75px);
	margin: 20px;
	background-color: black;
	border-radius: 25px;
}

/* Product Details Modal header */
.product-modal-detail-imgs {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

/* Product Details Modal Product Title */
.product-modal-detail-title {
	font-size: 20px;
	font-weight: 500;
	/* font-weight: 500; */
}

.product-details-header-title-mob {
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	letter-spacing: 2px;
}

/* Prduct Detais Modal Product Price */
.product-modal-detail-price {
	font-size: 20px;
	/* font-weight: 400; */
}

/* Product details mdal Close btn */
.product-modal-detail-close-btn {
	width: 100px;
	height: 40px;
	border-radius: 10px;
}

/* Product Details modal close btn text */
.product-modal-detail-close-btn-text {
	font-size: 16px;
	font-weight: 400;
}

.product-modal-detail-product-details {
	max-height: calc(100% - 20px);
	width: 100%;
	overflow-y: auto;
	/* height: 480px; */
	height: 328px;
}

.product-modal-detail-title-mob,
.product-modal-detail-price-mob,
.product-modal-detail-product-details-mob {
	padding-left: 20px;
	margin-top: 10px;
	font-size: 20px;
}

.mob-details-content-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 320px;
}

.product-modal-detail-header-mob {
	height: 50px;
	border-top-right-radius: 15px !important;
	border-top-left-radius: 15px !important;
	background-color: #633194;
	color: #f4f4f4;
	width: calc(100% + 3px);
	margin-bottom: 20px;
	margin-left: -1px;
}

/* Product Details carousal image */
.carousel-inner img {
	width: 100%;
	height: 100%;
}

/* Styles for the image carousel in the product details screen */
.custCarousel .carousel-indicators {
	position: static;
	margin-top: 20px;
}

.custCarousel .carousel-indicators>li {
	width: 80%;
	max-width: 100px;
	height: auto;
}

.custCarousel .carousel-indicators li img {
	display: block;
	opacity: 0.5;
}

.custCarousel .carousel-indicators li.active img {
	opacity: 1;
}

.custCarousel .carousel-indicators li:hover img {
	opacity: 0.75;
}

.carousel-item img {
	width: 80%;
	max-width: fit-content;
}

/* Side Side Details */
#productDetailSideView {
	display: none;
}

.product-modal-detail-side {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.product-modal-detail-side-body {
	height: 100%;
	max-height: calc(100% - 116px);
}

.product-modal-detail-side-add-to-cart-btn {
	position: absolute;
	right: 0;
}

.product-details-side>li {
	width: 10% !important;
	max-width: 100px !important;
	height: auto !important;
}

.product-modal-detail-product-details-side {
	max-height: calc(100% - 20px);
	width: 100%;
	/* overflow-y: auto; */
	height: 145px;
}

.product-modal-detail-price-side {
	font-size: 24px;
}

.product-modal-detail-title-side {
	font-size: 30px;
	font-weight: 500;
}

.product-modal-header-side {
	border-top-right-radius: 25px !important;
	background-color: #633194;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

.loader-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background: rgba(237, 220, 255, 0.5);
	z-index: 2;
}

.loading-text {
	position: absolute;
	font-size: 24px;
	color: #633194;
	letter-spacing: 2px;
	text-align: center;
	top: 50%;
	width: 100%;
}

.load-more-btn-div {
	z-index: 2;
	margin-top: 30px;
}

.load-more-btn {
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}

.load-more-btn-mob {
	top: 0;
	bottom: 0;
	margin: auto;
}

/* Product Details modal footer */
.product-modal-detail-footer {
	left: 0;
	right: 0;
	margin: 0;
	padding: 9px;
	width: 100%;
}

.footer-nav-tabs {
	display: inline;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-direction: column;
}

/* Wrapper for the menu navbar content  */
.menu-wrapper {
	position: relative;
	height: 55px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.menu {
	height: 71px;
	width: calc(100% - 95px);
	margin-left: 50px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	padding: 0px;
	margin-top: 15px;
}

.menu .item {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	margin: 0 5px;
	font-size: 15px;
	font-weight: 700;
	box-sizing: border-box;
	color: #b184de;
}

li.active {
	bottom: 0;
	border-bottom: 5px solid #633194;
	color: #633194 !important;
}

.btn-outline-primary {
	color: #633194 !important;
	border-color: #633194;
	margin-left: 5px;
}

.btn-outline-primary:hover {
	color: #fff !important;
	background-color: #633194;
}

.form-control:focus {
	border: 1px #633194 solid;
}

.nav {
	display: inline-block;
}

.nav-tabs {
	width: calc(100% - 100px);
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	border-bottom: 0px;
}

.nav-tabs .nav-link.active {
	color: #633194;
	background-color: transparent;
	border-color: transparent transparent #f3f3f3;
	border-bottom: 3px solid !important;
	font-size: 16px;
	font-weight: bold;
}

.menu-wrapper .nav-tabs .nav-link {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 12px;
	font-weight: 700;
	/* box-sizing: border-box; */
	color: #b184de;
}

.menu-wrapper a.active {
	border-bottom: 5px solid #633194;
	color: #633194 !important;
}

/* View the row in  */
row>.col-xs-3 {
	display: flex;
	flex: 0 0 25%;
	max-width: 25%;
}

row>col-sm-12 {
	height: 100px;
}

.flex-nowrap {
	-webkit-flex-wrap: nowrap !important;
	-ms-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}

.flex-row {
	width: 220px;
	display: flex;
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-webkit-flex-direction: row !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

/* Paddle for the left and right movement of the product categories nav-bar */
.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}

.paddle>img {
	width: 45%;
}

.left-paddle {
	left: 0;
	margin: auto;
}

.right-paddle {
	right: 0px;
	margin: auto;
}

.hidden {
	display: none;
}

.product-card-div {
	text-align: center;
	display: flex;
	justify-content: center;
}

.product-modal-header {
	border-top-left-radius: 18px !important;
	border-top-right-radius: 18px !important;
	padding: 0;
}

.product-modal-body {
	max-height: calc(100% - 20px);
	width: 100%;
	overflow-y: auto;
	padding-top: 0;
}

.product-modal-body-mob {
	max-height: calc(100% - 20px);
	width: 100%;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: auto;
}

.product-modal-close-btn {
	position: absolute;
	right: -8px;
	top: -8px;
	z-index: 2;
}

.product-detail-carousel-img-mob {
	height: 200px;
}

.product-details-mob-images {
	display: inline-block;
}

.product-modal-close-btn img {
	width: 25px;
}

.card-product-name-div {
	margin: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

.product-modal-footer {
	background: #ead4ff;
	border-bottom-right-radius: 25px !important;
	border-top: none !important;
	padding: 0 10px;
	bottom: 0;
}

.footer-menu-icon {
	width: 20px;
	margin: 0px 10px 0px 0px;
}

.product-card {
	width: 100%;
	/* height: 360px; */
	display: inline;
	border: 2px solid #633194;
	border-radius: 8px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.product-card-img {
	padding: 3px;
	align-self: center;
	width: auto;
	/* width: 100px; */
	height: 180px;
	/* max-width: 180px; */
	max-width: 100%;
	object-fit: contain;
}

.product-card-img-mob {
	height: 100px;
	object-fit: contain;
}

.product-card-div-img {
	width: auto;
	height: 5em;
}

.product-card-div-img-mob {
	height: 150px !important;
}

.product-card-div-img img {
	padding: 3px;
	align-self: center;
	width: auto;
	height: 100%;
	max-width: 180px;
}

.product-card-title {
	font-size: 0.75em;
	font-weight: 700;
}

.product-detail-carousel-img img {
	height: 220px;
	width: 100%;
}

.product-detail-carousel-img-side img {
	height: 6em;
}

.product-details-mob {
	height: 350px;
	background-color: #ffffff;
	position: absolute;
	width: calc(100% - 4px);
	bottom: 0;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	right: 2px;
	left: 2px;
	z-index: 2;
	display: none;
}

.product-card-btn {
	margin: -1px;
	font-size: 12px;
	background-color: #633194 !important;
	color: #fff;
	border-bottom-right-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
	padding: 10px;
}

.camera-modal-card {
	width: calc(67% - 5px);
	height: calc(100% - 50px);
	/* right: calc(35% - 20px); */
	top: 20px;
	bottom: 20px;
	margin: auto;
	position: absolute;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.camera-modal-header {
	padding: 0;
	height: 100%;
	border-top-left-radius: 25px !important;
}

.camera-modal-footer {
	top: 100%;
	left: 0;
	right: 0;
	margin: 0;
	padding: 5px;
	width: 100%;
	border-bottom-left-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
}

.camera-mobile {
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

.camera-mobile-footer {
	width: 100%;
	position: sticky;
	left: 85%;
	top: 100%;
}

.bottom-sheet-mobile {
	/* top: 100%;
	width: calc(100% - 20px);
	height: 340px;
	margin: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; */
	top: 111%;
	width: 100%;
	height: 295px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.bottom-sheet-wrapper {
	height: calc(100% - 130px);
}

.bottom-sheet-scroll {
	height: 100%;
}

.bottom-sheet-scroll::-webkit-scrollbar {
	display: none;
}

.bottom-sheet-top-indicator-div {
	height: 10%;
}

.bottom-sheet-top-indicator {
	height: 100%;
	width: 20%;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	background-color: #8f8f8f;
}

.bottom-sheet-mobile-carousel {
	height: 200px;
}

.bottom-sheet-mobile-carousel-img {
	height: 100px;
	width: auto;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrollbar::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar-track:hover {
	background-color: #f4f4f4;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 5px solid #fff;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #a0a0a5;
	border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
	display: none;
}

/* Mobile and Tablet Landscape View  */
.landscape-mode {
	display: none;
}

.landscape-mode img {
	width: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.mobile {
	display: none;
	height: 100%;
	width: 100%;
}

/* Camera Only Model view */
.camera-only-modal-card {
	width: 95%;
	height: calc(100% - 50px);
	right: calc(4% - 20px);
	top: 20px;
	bottom: 20px;
	margin: auto;
	position: absolute;
	border-radius: 25px;
}

.prev-next-paddle>img {
	width: 30px;
}

.bottom-sheet-option-left>img {
	width: 45px;
}

.bottom-sheet-option-right>img {
	width: 45px;
}

.bottom-sheet-option-center>img {
	width: 45px;
}

#search-form_mob {
	height: 35px;
	width: 96%;
}

#search_mob {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 12px;
}

#search_btn_mob {
	margin-left: 0px;
	padding: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	font-size: 12px;
}

.bottom-sheet-footer {
	font-size: 11px;
	border: none;
	background: #fff;
	font-weight: 500;
	padding: 2px;
}

.bottom-sheet-features {
	bottom: -30px;
	width: 100%;
}

.prev-next-btn {
	width: 100px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 12px;
	padding: 5px;
}

.zoom-in-mob{
	display: none;
}

.zoom-out-mob{
	display: none;
}

#tap-to-close-container{
	height: calc(100% - 295px);
	position: absolute;
	width: 100%;
}

.side-compare-tray{
	top: 30%;
	transform: translateY(-30%);
}

.side-tray-card > img{
	top: 10px;
	right: -20px;
	width: 20px
}

.settings-pannel-container{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.45);
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 2;
	display: none;
}

.settings-pannel{
	position: absolute;
	background: #fff;
	height: 40%;
	width: 90%;
	z-index: 2;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.side-tray-card{
	height: 280px; 
	width: 170px;
	border-radius: 0;
	border-bottom-right-radius: 0.25rem;
}

.side-tray-scroll{
	overflow: hidden; 
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: nowrap;
	-ms-overflow-style: none;
  scrollbar-width: none;
}

.side-tray-scroll::-webkit-scrollbar {
  display: none;
}

/* Landscape desktop and mobile */
@media screen and (min-aspect-ratio: 13/9) {}

/* Portrait desktop and mobile */
@media screen and (max-aspect-ratio: 13/9) {}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (orientation: landscape) {

	/* CSS */
	.landscape-mode {
		display: none;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	.settings-pannel{
		width: 40% !important;
	}
}

@media (min-width: 1025px) and (orientation: portrait) {

	/* CSS */
	.landscape-mode {
		display: none;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	body {
		font-size: 24px !important;
	}

	.prev-next-paddle>img {
		width: 60px;
	}

	.bottom-sheet-option-left>img {
		width: 125px;
	}

	.bottom-sheet-option-right>img {
		width: 125px;
	}

	.bottom-sheet-option-center>img {
		width: 150px;
	}

	.bottom-sheet-mobile {
		height: 625px !important;
		top: 100%;
	}

	.paddle>img {
		width: 95%;
	}

	#search-form_mob {
		height: 75px;
		width: 96%;
	}

	#search_mob {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		font-size: 24px;
	}

	#search_btn_mob {
		margin-left: 0px;
		padding: 30px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		font-size: 24px;
	}

	#search-form_mob {
		margin-top: 20px;
	}

	.bottom-sheet-footer {
		font-size: 20px;
		padding: 8px;
	}

	.product-card-div {
		height: 300px;
	}

	.flex-row {
		width: 300px;
	}

	.product-card-div-img {
		height: 200px;
	}

	.product-card-btn {
		font-size: 22px;
	}

	.product-card-title {
		font-size: 24px;
	}

	.product-modal-body-mob {
		margin-top: 20px;
	}

	.bottom-sheet-features {
		bottom: 10px;
		width: 100%;
	}

	.menu-wrapper {
		height: 100px;
	}

	.nav-link {
		font-size: 30px !important;
		margin: 15px !important;
	}

	#tap-to-close-container{
		height: calc(100% - 625px);
		position: absolute;
		width: 100%;
	}

	.mobile-back-btn{
		height: 50px !important;
	}

	.mobile-store-logo{
		height: 120px !important;
	}
	
	.bottom-sheet-scroll{
		height: 71%;
	}

	.qr-code-container {
		display: block !important;
	}

	.btn-facebook{
		display: none !important;
	}

	.btn-whatsapp{
		display: none !important;
	}

	.btn-twitter{
		display: none !important;
	}
}

@media (min-width: 720px) and (orientation: portrait) {

	.bottom-sheet-wrapper {
		height: calc(100% - 370px);
	}

	
	.bottom-sheet-scroll{
		height: 100%;
	}

	.qr-code-container {
		display: block !important;
	}

	.btn-facebook{
		display: none !important;
	}

	.btn-whatsapp{
		display: none !important;
	}

	.btn-twitter{
		display: none !important;
	}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {

	/* CSS */
	.landscape-mode {
		display: none;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

	/* CSS */
	.landscape-mode {
		display: none;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	/* CSS */
	.landscape-mode {
		display: none;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	/* CSS */
	.landscape-mode {
		display: none;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 487px) {

	/* CSS */
	.landscape-mode {
		display: none;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}

@media (max-width: 1200px) {
	.qr-code-container {
		display: none;
	}
}

#MirrAR-panel {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 0;
}