@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
body {
	font-family: "Lato", sans-serif;
	background-color: rgb(0, 0, 0, 0);
}
.webcam {
	width: 100vw !important;
	height: 100vh !important;
	object-fit: cover;
}
.webcamH {
	width: calc(100% - 10px) !important;
	height: 81vh !important;
	object-fit: cover;
	border-radius: 10px;
}
.vto {
	position: absolute;
	/* width: 100vw !important;
  height: 100vh !important;
  object-fit: cover; */
}
#video {
	opacity: 0;
}
.preloader-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 1);
	z-index: 4;
}

.preloader-wrap-fullScreen {
	height: calc(100% - 50px);
	width: calc(100% - 40px);
	position: fixed;
	right: 40px;
	top: 25px;
	bottom: 20px;
	left: 20px;
	background: rgba(0, 0, 0, 1);
	z-index: 2;
	border-radius: 25px;
}

/* max-width: 35%; */

/* position: absolute; */
/* border-top-right-radius: 25px; */
/* border-bottom-right-radius: 25px; */
/* box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%); */
/* z-index: 1; */

/* margin: 20px; */

.loader,
.percentage {
	height: 30px;
	max-width: 500px;
	border: 2px solid #ff0087;
	border-radius: 20px;
	font-weight: 300;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.loader:after,
.percentage:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes animation {
	10% {
		opacity: 0.9;
	}
	30% {
		opacity: 0.86;
	}
	60% {
		opacity: 0.8;
	}
	80% {
		opacity: 0.75;
	}
}

.loading {
	position: absolute;
	left: 50%;
	/* right: 0; */
	top: 50%;
	width: 100px;
	color: #fff;
	margin: auto;
	text-align: center;
	-webkit-transform: translate(-100%, -50%);
	-moz-transform: translate(-100%, -50%);
	-o-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}
.loading span {
	position: absolute;
	height: 10px;
	width: 84px;
	top: 70px;
	overflow: hidden;
}
.loading span > i {
	position: absolute;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	-webkit-animation: wait 4s infinite;
	-moz-animation: wait 4s infinite;
	-o-animation: wait 4s infinite;
	animation: wait 4s infinite;
}
.loading span > i:nth-of-type(1) {
	left: -28px;
	background: yellow;
}
.loading span > i:nth-of-type(2) {
	left: -21px;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	background: lightgreen;
}
.loading span > i:nth-of-type(3) {
	left: -16px;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
	background: #ff0087;
}

@-webkit-keyframes wait {
	0% {
		left: -7px;
	}
	30% {
		left: 52px;
	}
	60% {
		left: 22px;
	}
	100% {
		left: 100px;
	}
}
@-moz-keyframes wait {
	0% {
		left: -7px;
	}
	30% {
		left: 52px;
	}
	60% {
		left: 22px;
	}
	100% {
		left: 100px;
	}
}
@-o-keyframes wait {
	0% {
		left: -7px;
	}
	30% {
		left: 52px;
	}
	60% {
		left: 22px;
	}
	100% {
		left: 100px;
	}
}
@keyframes wait {
	0% {
		left: -7px;
	}
	30% {
		left: 52px;
	}
	60% {
		left: 22px;
	}
	100% {
		left: 100px;
	}
}
